{% extends 'baseLogin.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block main %}
    <div class="row h-100">
        <form class="col-10 col-sm-10 col-md-8 col-lg-6 m-auto" method="post" action="{% url 'password_reset' %}" >
            {% csrf_token %}
            <h3 class="text-center font-italic text-white">Forgot password</h3>
            <div class="jumbotron bg-dark " style="padding: 1rem 2rem; border-radius: 5px">

              <div class="form-group row" >
                <label for="emailInput" class="col-12">Email</label>
                <div class="col-sm-12">
                  <input type="email" name="email" class="form-control form-control-lg" id="emailInput">
                    {% if form.email.errors %}
                    <div class="alert alert-danger userErrorAlert" id="emailInputErrors" role="alert">
                          {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 text-right ">
                  <button type="submit" class="btn btn-warning w-100 font-weight-bold">Submit</button>
                </div>
              </div>
            </div>
        </form>
    </div>
{% endblock %}