{% extends 'baseLogin.html' %}
{% load static %}
{% load i18n static %}

{% block title %}Password reset confirm{% endblock %}

{% block main %}
    <div class="row h-100">
        <form class="col-10 col-sm-10 col-md-8 col-lg-6 m-auto" method="post" >
            {% csrf_token %}

            <h3 class="text-center font-italic text-white">Forgot password</h3>
            <div class="jumbotron bg-dark " style="padding: 1rem 2rem; border-radius: 5px">
            {{ form.errors }}
              <div class="form-group row" id="errors">
              {% if form.non_field_errors %}
                  <div class="alert alert-danger userErrorAlert" role="alert">
                   {{ form.non_field_errors }}
                  </div>
              {% endif %}
              </div>
              <div class="form-group row" >
                <label for="passInput1" class="col-12">New password</label>
                <div class="col-sm-12">
                  <input type="password" name="new_password1" class="form-control form-control-lg" id="passInput1" required>
                    {% if form.new_password1.errors %}
                    <div class="alert alert-danger userErrorAlert" id="passInput1Errors" role="alert">
                          {{ form.new_password1.errors }}
                    </div>
                    {% endif %}
                </div>
              </div><div class="form-group row" >
                <label for="passInput2" class="col-12">Confirm password</label>
                <div class="col-sm-12">
                  <input type="password" name="new_password2" class="form-control form-control-lg" id="passInput2" required>
                    {% if form.new_password2.errors %}
                    <div class="alert alert-danger userErrorAlert" id="passInput2Errors" role="alert">
                          {{ form.new_password2.errors }}
                    </div>
                    {% endif %}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 text-right ">
                  <button type="submit" value="{% trans 'Change my password' %}" class="btn btn-warning w-100 font-weight-bold">Submit</button>
                </div>
              </div>
            </div>
        </form>
    </div>
{% endblock %}