{% extends 'base.html' %}


{% block title %} Calendar {% endblock %}

{% block main %}

<div class="container">
    <nav class="nav nav-tabs" id="YearTab" role="tablist">
        {% for y in object_list %}
            {% if forloop.first %}
                <a class="nav-item nav-link active" id="nav-{{ y }}-tab" data-toggle="pill" href="#nav-{{ y }}" role="tab" aria-controls="vnav-{{ y }}" aria-selected="true">{{ y }}</a>
            {% else %}
                <a class="nav-item nav-link" id="nav-{{ y }}-tab" data-toggle="pill" href="#nav-{{ y }}" role="tab" aria-controls="nav-{{ y }}" aria-selected="false">{{ y }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <div class="tab-content" id="v-pills-tabContent">
        {% for y in object_list %}
            {% if forloop.first %}
                <div class="tab-pane fade show active" id="nav-{{ y }}" role="tabpanel" aria-labelledby="nav-{{ y }}-tab">
                    <div class="row">
                        {% for m in y.month_set.all %}
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ m }}</h5>
                                        <a href="{% url "month" y.year m.month %}" class="btn btn-primary">{{ m.total_month }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
             {% else %}
                <div class="tab-pane fade" id="nav-{{ y }}" role="tabpanel" aria-labelledby="nav-{{ y }}-tab">
                    <div class="row">
                        {% for m in y.month_set.all %}
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ m }}</h5>
                                        <a href="{% url "month" y.year m.month %}" class="btn btn-primary">{{ m.total_month }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


</div>

{% endblock %}

{% block footer %}
      <div class="container">

      </div>
{% endblock %}