{% extends 'base.html' %}
{% load humanize %}

{% block title %} Calendar {% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 ">
          <h2>{{ activeYear }}</h2>
        </div>
    </div>
    <nav class="nav nav-tabs" id="YearTab" role="tablist">
        {% for m in object_list %}
            {% if m.month == activeMonth %}
                <a class="nav-item nav-link active" id="nav-{{ m }}-tab" data-toggle="pill" href="#nav-{{ m }}" role="tab" aria-controls="vnav-{{ m }}" aria-selected="true">{{ m }}</a>
            {% else %}
                <a class="nav-item nav-link" id="nav-{{ m }}-tab" data-toggle="pill" href="#nav-{{ m }}" role="tab" aria-controls="nav-{{ m }}" aria-selected="false">{{ m }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <div class="tab-content" id="v-pills-tabContent">
        {% for m in object_list %}
            {% if m.month == activeMonth %}
                <div class="tab-pane fade show active" id="nav-{{ m }}" role="tabpanel" aria-labelledby="nav-{{ m }}-tab">
                    <div class="row">
                        {% for d in m.day_set.all %}
                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <h5 class="">{{ d.day|ordinal }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ m }}{{ d.day }}">
                                            R$: {{ d.spent|intcomma }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
             {% else %}
                <div class="tab-pane fade" id="nav-{{ m }}" role="tabpanel" aria-labelledby="nav-{{ m }}-tab">
                    <div class="row">
                        {% for d in m.day_set.all %}
                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <h5 class="">{{ d.day|ordinal }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" ty class="btn btn-primary" data-toggle="modal" data-target="#modal{{ m }}{{ d.day }}">
                                            R$: {{ d.spent|intcomma }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% for m in object_list %}
        {% for d in m.day_set.all %}
            <!-- Modal -->
            <div class="modal fade" id="modal{{ m }}{{ d.day }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title text-center" id="">{{ m }} {{ d.get_named_day }} </h2><br>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <form action="{% url "monthSave" activeYear m.month d.day %}" method="POST">
                        <div class="modal-body">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="#{{ form.spent.id_for_label }}">Gasto</label>
                              {{ form.spent }}
                          </div>

                        </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>

        {% endfor %}
    {% endfor %}
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>

</div>

{% endblock %}

{% block footer %}
      <div class="container">

      </div>
{% endblock %}