{% extends 'base.html' %}
{% load appTags %}
{% load humanize %}
{% load static %}


{% block title %} Calendar {% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 ">
            <h2><a href="{% url 'calendarWithYear' activeYear %}">{{ activeYear }}</a></h2>
        </div>
    </div>
    <nav class="nav nav-tabs" id="YearTab" role="tablist">
        {% for m in object_list %}
            {% if m.month == activeMonth %}
                <a class="nav-item nav-link active" id="nav-{{ m }}-tab" data-toggle="pill" href="#nav-{{ m }}" role="tab" aria-controls="vnav-{{ m }}" aria-selected="true">
                    {% if is_mobile %}
                        {{ m.mini }}
                    {% else %}
                        {{ m }}
                    {% endif %}
                </a>
            {% else %}
                <a class="nav-item nav-link" id="nav-{{ m }}-tab" data-toggle="pill" href="#nav-{{ m }}" role="tab" aria-controls="nav-{{ m }}" aria-selected="false">
                    {% if is_mobile %}
                        {{ m.mini }}
                    {% else %}
                        {{ m }}
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </nav>
    <div class="tab-content" id="v-pills-tabContent">
        {% for m in object_list %}
            {% if m.month == activeMonth %}
                <div class="tab-pane fade show active" id="nav-{{ m }}" role="tabpanel" aria-labelledby="nav-{{ m }}-tab">
                    <div class="row">
{#                        {% for d in m.day_set.all %}#}
                            {% display_calendar m activeYear %}
{#                        {% endfor %}#}
                    </div>
                </div>
             {% else %}
                <div class="tab-pane fade" id="nav-{{ m }}" role="tabpanel" aria-labelledby="nav-{{ m }}-tab">
                    <div class="row">
                        {% for d in m.day_set.all %}
                            <div class="col-6 col-sm-4 col-md-2">
                                {% if currentDay == d.day and m.month == currentMonth and m.year.year == currentYear %}
                                    <div class="card border-info text-center">
                                {% else %}
                                    <div class="card text-center">
                                {% endif %}
                                    <div class="card-header">
                                        <h5 class="">{{ d.weekday }} {{ d.day|ordinal }}</h5>
                                    </div>
                                    <div class="card-body">
                                    {% if d.weekdayNumber == 5 or d.weekdayNumber == 6  %}
                                        <button disabled type="button"  class="btn btn-dark" data-toggle="modal" data-target="#modal{{ m }}{{ d.day }}">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    {% else %}
                                        <button  type="button"  class="btn btn-primary" data-toggle="modal" data-target="#modal{{ m }}{{ d.day }}">
                                            R$: {{ d.spent|intcomma }}
                                        </button>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% for m in object_list %}
        {% for d in m.day_set.all %}
            <!-- Modal -->
            <div class="modal fade" id="modal{{ m }}{{ d.day }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title text-center" id="">{{ d.weekday }} {{ m }} {{ d.day|ordinal }} </h2><br>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <form action="{% url "monthSave" m.year.year m.month d.day %}" method="POST">
                        <div class="modal-body">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="#id_spent{{ m.month }}{{ d }}">Spent</label>
                              <input type="text" name="spent" autofocus class="form-control form-control-lg" id="id_spent{{ m.month }}{{ d }}" onchange="validate({{ d }}, {{ m.month }}, {{ activeYear }})" required />
                          </div>
                          <div class="form-group" id="errors{{ m.month }}{{ d }}">
                          {{ errors }}
                            {% for e in errors.spent %}
                                <div class="alert alert-primary" role="alert">
                                  {{ e }}
                                </div>
                            {% endfor %}
                          </div>

                        </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>

        {% endfor %}
    {% endfor %}
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>

</div>

{% endblock %}

{% block footer %}
      <div class="container">

      </div>
{% endblock %}
{% block js %}
    <script src="{% static 'app/js/month.js' %}"></script>
{% endblock js %}