{% extends 'base.html' %}
{% load humanize %}

{% block title %} Calendar {% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 ">
          <h2>{{ activeYear }}</h2>
        </div>
    </div>
    <nav class="nav nav-tabs" id="YearTab" role="tablist">
        {% for m in object_list %}
            {% if m.month == activeMonth %}
                <a class="nav-item nav-link active" id="nav-{{ m }}-tab" data-toggle="pill" href="#nav-{{ m }}" role="tab" aria-controls="vnav-{{ m }}" aria-selected="true">{{ m }}</a>
            {% else %}
                <a class="nav-item nav-link" id="nav-{{ m }}-tab" data-toggle="pill" href="#nav-{{ m }}" role="tab" aria-controls="nav-{{ m }}" aria-selected="false">{{ m }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <div class="tab-content" id="v-pills-tabContent">
        {% for m in object_list %}
            {% if m.month == activeMonth %}
                <div class="tab-pane fade show active" id="nav-{{ m }}" role="tabpanel" aria-labelledby="nav-{{ m }}-tab">
                    <div class="row">
                        {% for d in m.day_set.all %}
                            <div class="col-xs-6 col-sm-4 col-md-2">
                                {% if activeDay == d.day %}
                                    <div class="card border-info text-center">
                                {% else %}
                                    <div class="card text-center">
                                {% endif %}
                                    <div class="card-header">
                                        <h5 class="">{{ d.day|ordinal }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ m }}{{ d.day }}">
                                            R$: {{ d.spent|intcomma }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
             {% else %}
                <div class="tab-pane fade" id="nav-{{ m }}" role="tabpanel" aria-labelledby="nav-{{ m }}-tab">
                    <div class="row">
                        {% for d in m.day_set.all %}
                            <div class="col-xs-6 col-sm-4 col-md-2">
                                {% if activeDay == d.day %}
                                    <div class="card border-info text-center">
                                {% else %}
                                    <div class="card text-center">
                                {% endif %}
                                    <div class="card-header">
                                        <h5 class="">{{ d.day|ordinal }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#modal{{ m }}{{ d.day }}">
                                            R$: {{ d.spent|intcomma }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% for m in object_list %}
        {% for d in m.day_set.all %}
            <!-- Modal -->
            <div class="modal fade" id="modal{{ m }}{{ d.day }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title text-center" id="">{{ m }} {{ d.day|ordinal }} </h2><br>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <form action="{% url "monthSave" activeYear m.month d.day %}" method="POST">
                        <div class="modal-body">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="#id_spent{{ m.month }}{{ d }}">Spent</label>
                              <input type="text" name="spent" autofocus class="form-control form-control-lg" id="id_spent{{ m.month }}{{ d }}" onchange="getTeste({{ d }}, {{ m.month }}, {{ activeYear }})" required />
                          </div>
                          <div class="form-group" id="errors{{ m.month }}{{ d }}">
                          {{ errors }}
                            {% for e in errors.spent %}
                                <div class="alert alert-primary" role="alert">
                                  {{ e }}
                                </div>
                            {% endfor %}
                          </div>

                        </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>

        {% endfor %}
    {% endfor %}
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>

</div>

{% endblock %}

{% block footer %}
      <div class="container">

      </div>
{% endblock %}
{% block js %}
        <script>
            function getTeste(d, m, y){

                console.log(d, m, y);
                    $.ajax({
                        type: "POST",
                        url: "/days_by_month/validate/"+y+"/"+m+"/"+d,
                        data: {
                            "spent" : $("#id_spent"+m+d).val()
                        },
                        dataType: 'json',
                        beforeSend: function(xhr, settings) {
                          if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                          }
                        },
                        success: function (data) {
                          let elem =  $("#id_spent"+m+d);
                          if (!data.validate) {
                            if(elem.hasClass("is-valid"))
                                elem.removeClass("is-valid");

                            elem.addClass("is-invalid")
                          }else{
                            if(elem.hasClass("is-invalid"))
                                elem.removeClass("is-invalid");

                            elem.addClass("is-valid");
                          }
                          let group = $("#errors"+m+d);
                          group.empty();
                        },
                        error: function (data) {
                          let elem =  $("#id_spent"+m+d);
                          if (!data.validate) {
                            if(elem.hasClass("is-valid"))
                                elem.removeClass("is-valid");

                            elem.addClass("is-invalid")
                          }else{
                            if(elem.hasClass("is-invalid"))
                                elem.removeClass("is-invalid");

                            elem.addClass("is-valid");
                          }
                          data = data.responseJSON;
                          let group = $("#errors"+m+d);
                          group.empty();
                          for (i = 0; i < data.errors.spent.length; i++) {
                            let error = $(document.createElement("div"));
                            error.addClass("alert alert-danger");

                            let t = document.createTextNode(data.errors.spent[i]);
                            error.append(t);
                            group.append(error);
                          }

                        }
                    });

            }


            // CSRF code
              function getCookie(name) {
                var cookieValue = null;
                var i = 0;
                if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              var csrftoken = getCookie('csrftoken');

              function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }

        </script>
{% endblock js %}